/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility; 
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 8px;
}



/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

.zbozi{
    display: flex;
    font-family: 'Rubik', sans-serif;
    width: 670px; 
}

.vizual{
    
    background: linear-gradient(#06d7c1,#50cc49);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo{
    padding: 30px;
    order: 1;
}

.slogan{
    order:2;
    position: relative;
    left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
}

.bota{
    position: absolute;
    left: -90px;
    bottom: 5px;
    order: 3;
}

.cenovka{
    order: 4;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: end;
    color: #f5f5f5;
    font-size: 12px;
    font-weight: 400;
}

.cena{
    font-size: 28px;
    font-weight: 500;
}

.detaily{
    
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
}

