/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility; 
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 8px;
}



/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

.zbozi{
    display: flex;
    font-family: 'Rubik', sans-serif;
    width: 670px; 
    height: 440px;
    border-radius: 3%;
    box-shadow: #959595 2px 2px 10px;
    font-size: 14px;
    font-weight: 400;

}

.vizual{
    
    background: linear-gradient(#06d7c1,#50cc49);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 3% 0 0 3%;
}

.logo{
    padding: 30px;
    order: 1;
}

.slogan{
    order:2;
    position: relative;
    left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
}

.bota{
    position: absolute;
    left: -90px;
    bottom: 5px;
    order: 3;
}

.cenovka{
    order: 4;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: end;
    color: #f5f5f5;
    font-size: 12px;
    font-weight: 400;
}

.cena{
    font-size: 28px;
    font-weight: 500;
}

.detaily{
    display: flex;    
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    flex-direction: column;
    padding: 30px;
    position: relative;
    
}

.nazev{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.produkt{
    margin: 0 0 30px 0;
    color: #959595;
}

.popis{

    border-bottom: #06d7c1;
    border-style: none none solid none;
    border-width: 2px;
    padding: 0 0 30px 0px;
    margin: 0;
}

.parametr{
margin: 30px 0 0 0;
text-transform: uppercase;
font-size: 18px;
font-weight: 500;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

li{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

.vybrana{
 color: #f15f42;
 border:1px solid #f15f42;
 border-radius: 50%;   
}

.akce{
align-self: flex-end;
position: absolute;
left: 30px;
bottom: 30px;
background-color: #f15f42;
border-radius: 5px;
}

a {
    text-decoration: none;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 15px 30px;
    display: block;
}




